<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encurtador de URL</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <h1>Encurtador de URL</h1>

    <!-- Formulário para encurtar a URL -->
    <form th:action="@{/url/shortner}" method="post">
        <label for="url">Insira a URL:</label>
        <input type="text" id="url" name="url" required>
        <button type="submit">Encurtar</button>
    </form>

    <!-- Exibe a URL encurtada -->
    <div th:if="${shortUrl}">
        <h2>URL Encurtada:</h2>
        <p>
            <a th:href="${shortUrl}" th:text="${shortUrl}"></a>
        </p>
    </div>

    <div>
        <button th:href></button>
    </div>
</body>
</html>